LatestDSInstallerVersion {{ version }}
LatestDSInstallRoot {{ appl_dir }}/mathworksservicehost/{{ version }}
DSLauncherExecutable {{ appl_dir }}/mathworksservicehost/{{ version }}/bin/glnxa64/MathWorksServiceHost
